*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,
h2{
    margin-top: 150px;
    margin-bottom: 40px;
}
#demarrer{
    font-size: 20px;
    color: black;
    background-color:aliceblue;
    border: 2px solid black;
    padding: 4px 8px;
}
#reponses{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.answer-btn{
    border: none;
    width: 350px;
    font-size: 18px;
    color: black;
    background-color:rgb(247, 232, 247);
    outline: none;
    padding: 6px ;
    text-align: start;
    cursor: pointer;
}
#suivant{
    font-size: 1.2em;
    display: none;
    width: 70px;
    margin-top: 30px;
    outline: none;
    border: none;
    padding: 4px;
    background-color: rgb(234, 102, 234);
    cursor: pointer;
}
.answer_correct{
    border: 4px solide;
    border-color: green;
    background-color:rgba(0, 255, 0, 0.5)
}
#score{
    font-size: 1.5em;
}
#redémarrer{
    font-size: 1.2em;
    width: 115px;
    margin-top: 30px;
    outline: none;
    border: none;
    padding: 4px;
    background-color: rgb(234, 102, 234);
    cursor: pointer;
}

