*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    margin-bottom: 100px;
}
h2{
    margin-bottom: 50px;
    font-size: 2em;
}
#demarrer{
    width: 200px;
    font-size: 20px;
    font-weight:bolder;
    color: black;
    background-color:rgb(253, 209, 250);
    padding: 20px;
    border-radius: 50px;
    border : none;
}
#demarrer:hover,
#suivant:hover,
#redémarrer:hover{
    background-color: rgb(212, 33, 200);
}
#reponses{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#reponses button{
    border: none;
    border-radius: 50px;
    width: 400px;
    font-size: 1.5rem;
    color: black;
    background-color:rgb(253, 209, 250);
    outline: none;
    padding: 16px ;  
    text-align: start;
    cursor: pointer;
}
#suivant{
    font-size: 1.5em;
    display: none;
    width: 150px;
    margin-top: 30px;
    outline: none;
    border: none;
    padding: 8px;
    background-color: rgb(253, 221, 251);
    cursor: pointer;
    border-radius: 50px;
}

.answer_correct{
    width: 400px;
    background-Color : rgb(92, 239, 92);
}
.answer_bad{
    background-Color : rgb(239, 92, 92);
}
#score_suivant{
    width: 390px;
    display: flex;
    justify-content: space-between;
}
#score{
    font-size: 2em;
    margin-top: 30px;
}
#finale_score{
    font-size: 30px;
    margin-bottom: 50px;
}
#niveau{
    font-size: 28px;
    margin-bottom: 10px;
}
#redémarrer{
    font-size: 1.2em;
    width: 180px;
    margin-top: 30px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: rgb(253, 209, 250);
    cursor: pointer;
    border-radius: 50px;
}